@media screen and (max-width:576px) {

    .nav-container,
    .nav-menu,
    .nav-right,
    .gamer-container {
        flex-direction: column;
    }

    .nav-container {
        box-shadow: none;
    }

    .nav-left {
        margin-bottom: 50px;
    }

    .nav-menu {
        margin-bottom: 20px;
    }

    .banner-main {
        box-shadow: none;
    background-size:cover;
    padding-bottom: 100px;

    }

    .banner-container {
        flex-direction: column-reverse;
    }
  

    .banner,
    .banner-img,
    .gamer,
    .gamer-img {
        width: 80%;
    }

    .banner-img {
        margin-bottom: 30px;
    }

    .banner h3 {
        font-size: 2.25rem;
    }

    .banner h2 {
        font-size: 4rem;
    }

    .banner p {
        font-size: .9rem;

    }

    .btn-primary {
        padding: 15px 28px;

    }

    .btn {
        margin-left: 10px;
    }

    .gamer-main{
        background: none;
    }
    .gamer-img {
        padding: 50px 0;
    }

    .gamer {
        text-align: center;
    }

    .gamer h2 {
        font-size: 1.75rem;
        margin-top: 0;
    }
    .gamer p {
        font-size:.9rem;
        padding-left: 0;
        line-height: 24px;
    }
    .gamer h4 {
        padding-bottom: 96px;
        color: rgb(83, 76, 100);
        font-size: 1rem;
        font-weight: 700;
    }
    .funny-main{
        margin-bottom: 40px;
    }
    .funny-card-container,
    .career-container{
        grid-template-columns: repeat(1,1fr);
        gap: 8px;
    }
    .funny-main h2{
        font-size: 1.25rem;
    }
    .funny-main p{
        font-size: .7rem;
        padding-bottom:18px;
    }
    .funny-main h3{
        font-size: .7rem;
        text-align: center;
    }
    .play-main{
       flex-direction: column;
        margin-bottom: 96px;
    }
    .online-main{
        flex-direction: column-reverse;
    }
    .play,.play-img,.online,.online-img{
        width: 60%;
    }
    .play h2, .online h2 {
        font-size: 1.5rem;
        line-height: 35px;
        text-align: center;
    }
    .play p,.online p {
        text-align: center;
        font-size: .7rem;
        line-height: 24px;
        padding-bottom: 40px;
        padding-left: 0;
    }
    .career-img{
        margin-top: 80px;
        margin-bottom: 90px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .career{
        margin-left: 10%;
        margin-right: 10%;

    margin-bottom: 0;
       
    }
    
    .category-container{
       gap: 5px;

    }

    .category{
        margin-top: 50px;
    }
    .category img{
        width: 30px;
    }
    .category p{
        font-size: .8rem;
        font-weight: 400;
        }
}